html{
  height:100%;
}
body{
  background-image: linear-gradient(to left top,
   #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1,
    #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);

    text-align: center;

}

ul{
  margin-top: 100px;
  list-style: none;

}

button{
  background-color: rgb(153, 1, 153);
  border-radius: 5px;
  color: white;
}
